*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* // 10px */
  font-size: 62.5%;
}

button {
  border: none;
}

.btn {
  font-size: 2.4rem;
  border-radius: 5px;
  padding: 1.2rem 2.4rem;
  background-color: #1313ee;
  color: #ddd;
  cursor: pointer;
  box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.25);
  transition: 0.1s ease-in-out;
}

.btn:hover,
.btn-large:hover {
  transform: translateY(-5%);
}
.btn-large {
  width: 24rem;
  border-radius: 5px;
  padding: 1.4rem 2.8rem;
  font-size: 3.2rem;
  font-weight: bold;
  background-color: #000;
  color: #eee;
  cursor: pointer;
  box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.25);
  transition: 0.1s ease-in-out;
}

/* #play-btn {
  opacity: 0;
} */

.hide-element {
  opacity: 0;
}

.container {
  margin: 0 auto;
  max-width: 114rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
}

header {
  height: 9rem;
}

.card-container {
  max-width: 100%;
  margin: 3.2rem 0;
  padding: 2.4rem 3.2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1.6rem;
}

#buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}

.card-img {
  max-width: 100%;
  object-fit: cover;
  box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.25);
}

/* Add Class via JS on HOLD BTN */
.card-held {
  filter: brightness(0.6);
}

h1 {
  font-size: 3.2rem;
  text-align: center;
  margin-top: 3.2rem;
}
